In [ ]:

import pandas as pd

df = pd.read_csv('students.csv',index_col=0)
df

In [ ]:
#選取欄位
df['國文']

In [ ]:
#選取多個欄位
df[['國文','英文','數學']]

In [ ]:
#陣列運算
#建立新欄位
sum=df['國文']+df['英文']+df['數學']+df['地理']+df['探索']
averange=sum/5
averange
df['總分']=sum
df['平均']=averange
df

In [20]:
df.loc['柯宜臻']

國文     64.0
英文     84.0
數學     91.0
地理     69.0
探索     60.0
總分    368.0
平均     73.6
Name: 柯宜臻, dtype: float64

In [31]:
df.iloc[:5,:]

     國文  英文  數學  地理  探索   總分    平均
柯宜臻  64  84  91  69  60  368  73.6
陳奇瑄  50  84  91  73  88  386  77.2
王泓泰  77  80  82  72  68  379  75.8
張俊傑  90  80  75  96  95  436  87.2
昌嘉洋  92  60  71  67  77  367  73.4